dataset
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/
dist/
build/
.eggs/
.env/
.venv/
env/
venv/
ENV/
.ipynb_checkpoints/
.vscode/
.DS_Store
logs/
*.log
*.pt
*.onnx
*.wav
*.flac
*.mp3
*.m4a
*.ogg
